<div class="s-circle row">
  {% for item in items %}
    <div{{ item.attributes.addClass('s-circle__item col-md-3 col-sm-12 col-xs-12') }}>
      <div class="s-circle__item-inner">
        {{ item.content }}
      </div>
    </div>
  {% endfor %}
</div>

