<tr class="table-mc">
    <td class="age_range"><input type="text" class="age_inclus" name="age_inclus__name__" value="" /></td>
    <td class="augmentation"><input type="number" class="age_augmentation" name="age_augmentation__name__" value="0" size="3" style="width: 83%"/><span class="field-suffix" style="width: 17%"> %</span></td>
    <td class="taux_tr1"><span class="taux_tr1">0</span>%<br><strong><span class="taux_tr1_round">0</span>%</strong></td>
    <td class="taux_tr2"><span class="taux_tr2">0</span>%<br><strong><span class="taux_tr2_round">0</span>%</strong></td>
    <td class="taux_tr3"><span class="taux_tr3">0</span>%<br><strong><span class="taux_tr3_round">0</span>%</strong></td>
    <td class="action" ><button type="button" class="removeButton">Supprimer</button></td>
</tr>
