.visuel {
  background: #05656a; }

.navigation {
  background: #1dc6b1; }
  .navigation .navbar-default .navbar-nav > li > a {
    color: #05656a; }

#block-bloc-pourquoi-attendre h3 {
  color: #05656a; }

#block-bloc-pourquoi-attendre p {
  color: #149483; }

.navbar-toggle span {
  background: #05656a !important; }

.header-top p {
  color: #f16621; }

.header-top .btn {
  border: 2px solid #05656a;
  color: #05656a; }
  .header-top .btn:focus, .header-top .btn:hover, .header-top .btn:active {
    background: #05656a;
    color: white; }

.visuel {
  background: #05656a; }

.navigation {
  background: #1dc6b1; }
  .navigation .navbar-default .navbar-nav > li > a {
    color: #05656a; }

#block-bloc-pourquoi-attendre h3 {
  color: #05656a; }

#block-bloc-pourquoi-attendre p {
  color: #149483; }

.navbar-toggle span {
  background: #05656a !important; }

.header-top p {
  color: #f16621; }

.header-top .btn {
  border: 2px solid #05656a;
  color: #05656a; }
  .header-top .btn:focus, .header-top .btn:hover, .header-top .btn:active {
    background: #05656a;
    color: white; }

.visuel {
  background: #05656a; }

.navigation {
  background: #1dc6b1; }
  .navigation .navbar-default .navbar-nav > li > a {
    color: #05656a; }

#block-bloc-pourquoi-attendre h3 {
  color: #05656a; }

#block-bloc-pourquoi-attendre p {
  color: #149483; }

.navbar-toggle span {
  background: #05656a !important; }

.header-top p {
  color: #f16621; }

.header-top .btn {
  border: 2px solid #05656a;
  color: #05656a; }
  .header-top .btn:focus, .header-top .btn:hover, .header-top .btn:active {
    background: #05656a;
    color: white; }

.visuel {
  background: #05656a; }

.navigation {
  background: #1dc6b1; }
  .navigation .navbar-default .navbar-nav > li > a {
    color: #05656a; }

#block-bloc-pourquoi-attendre h3 {
  color: #05656a; }

#block-bloc-pourquoi-attendre p {
  color: #149483; }

.navbar-toggle span {
  background: #05656a !important; }

.header-top p {
  color: #f16621; }

.header-top .btn {
  border: 2px solid #05656a;
  color: #05656a; }
  .header-top .btn:focus, .header-top .btn:hover, .header-top .btn:active {
    background: #05656a;
    color: white; }
