/** -- Theming of Offer page -- */
.menu-anchor .menu {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.menu-anchor .menu-icon {
  width: 20%;
  position: relative;
  height: 200px;
}

.menu-anchor .menu-icon a {
  background-size: 11%;
  padding: 37px 0 0 0!important;
  background-position: 50% 4px !important;
  height: 85px;
  display: block;
  font-size: 1.3rem;
  text-align: center;
  bottom: -7px;
}

.offer-title {
  margin: 30px;
}

/** -- Theming of FAQ page -- */

.faq-title  {
  margin: 30px;
}

.region-header .breadcrumb {
  display: none;
}

.header-bottom {
  background-color: #05656a;
}

.search-block {
  background-color: #1dc6b1;
}
.page-title {
  margin:1rem 0 2rem 2rem;
  color: #fff;
}

.page-breadcrumbs {
  margin:1rem 0 1rem 2rem;
}

.page-breadcrumbs .breadcrumb {
  background: none;
  border: none;
  padding: 2rem 0;
  margin: 0;
}

.page-breadcrumbs .breadcrumb li {
  background: none;
  border: none;
  color: #ccc;
}

.region-search {
  margin: 3rem 0 2rem 0;
}

.navigation .navbar #navbar-collapse-mobile ul li a {
  padding: 15px 10px;
}

.navigation .navbar #navbar-collapse-mobile ul li .dropdown-menu {
  border: solid 1px #fff;
  border-top: none;
  -webkit-box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.75);
}

.view-faq-theme .ui-accordion-header {
  background: #05656a;
  border: none;
  outline:none;
  font-weight: 700;
  text-transform: uppercase;
}

.view-faq-theme {
  font-family: "Gotham-Book", sans-serif;
}


.view-faq-theme .ui-state-default {
  color: #fff;
}

.view-faq-theme .ui-state-active .ui-icon {
  background-image: url(../img/arrow12.png);
  position: relative;
  left: 330px;
  background-position: center;
  background-size: contain;
}

.view-faq-theme .ui-accordion-header-icon {
  background-image: url(../img/arrow122.png);
  position: relative;
  left: 330px;
  background-position: center;
  background-size: contain;
}

.view-faq-theme .ui-accordion-content {
  height: 100% !important;
}

.ui-accordion-content a:hover {
  color: #05656a;
  font-weight: 600;
}

.ui-accordion-content a:active {
  color: #05656a;
  font-weight: 600;
}

.ui-accordion-content a {
  text-decoration: none;
}
