{# empty Twig template #}

<div class="container">
    <div class="content-global-mc">
        {% include '@moteur_calcul/moteur-calcul-header.html.twig' %}
        {% include '@moteur_calcul/simulateur-form.html.twig' %}
    </div>
</div>