{# Moteur de calcul header #}

<div id="moteur_calcul_header">
    <ul class="row">
        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a class="active" href="#">Simulation</a></li>
        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">Devis</a></li>
        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#">Souscription</a></li>
    </ul>
</div>

<div class="clearfix"></div>