{% extends 'themes/madp/templates/system/_page.html.twig' %}

    {# Content #}
    {% block content %}
        <div class="container">
            <div class="connexion">
                {{ page.content }}
            </div>
        </div>
    {% endblock %}
