.alert {
  margin-bottom: 0; }

.s-scroll-top {
  font-size: 0;
  position: fixed;
  bottom: 250px;
  right: 50px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 10px 3px rgba(47, 47, 47, 0.2);
          box-shadow: 0 0 10px 3px rgba(47, 47, 47, 0.2);
  display: none;
  background-image: url(img/sprite.png);
  background-position: 0px 0px;
  width: 82px;
  height: 82px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all; }
  .s-scroll-top:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.s-paragraph {
  margin-bottom: 100px; }
  .s-paragraph__media img {
    width: 100%;
    height: auto; }
  .s-paragraph__media iframe {
    max-width: 100%;
    height: 450px; }

.field--name-field-p-title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  color: #EC5B32;
  text-transform: uppercase; }
  .field--name-field-p-title::after {
    content: '';
    display: block;
    width: 170px;
    height: 3px;
    margin: 15px 0;
    background: #EC5B32; }

.field--name-field-p-text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.4;
  color: #2F2F2F; }

.field--name-field-p-description {
  font-size: 18px;
  line-height: 1.2;
  color: #484848;
  margin: 10px 0; }

.field--name-field-p-link {
  margin-bottom: 40px; }
  .field--name-field-p-link a {
    font-size: 18px;
    line-height: 1.2;
    color: #00656B; }

.s-tile__item {
  font-size: 19px;
  color: white;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }
  .s-tile__item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 260px;
    padding: 0 25%;
    background: #1dc6b1; }
    .s-tile__item:nth-child(3) .s-tile__item-inner,
    .s-tile__item:nth-child(4) .s-tile__item-inner,
    .s-tile__item:nth-child(9) .s-tile__item-inner {
      background: #EC5B32; }
    .s-tile__item:nth-child(2) .s-tile__item-inner,
    .s-tile__item:nth-child(6) .s-tile__item-inner,
    .s-tile__item:nth-child(8) .s-tile__item-inner {
      background: #00656B; }
    .s-tile__item-inner::after {
      content: '';
      display: block;
      width: 76px;
      height: 2px;
      margin: 15px 0;
      background: white; }

.s-circle__item {
  font-size: 16px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .s-circle__item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100%;
    border: 7px solid #1dc6b1;
    height: 150px;
    width: 150px;
    padding: 0 25px;
    background: #00656B; }

.s-paragraph-features1 {
  font-size: 16px;
  color: #00656B;
  line-height: 1.2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .s-paragraph-features1__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 40px; }
    .s-paragraph-features1__item::before {
      content: '';
      display: block;
      background-image: url(img/sprite.png);
      background-position: 0px -224px;
      width: 58px;
      height: 50px;
      margin-bottom: 10px; }
    .s-paragraph-features1__item::after {
      content: '';
      display: block;
      margin-top: 10px;
      background-image: url(img/sprite.png);
      background-position: -167px -82px;
      width: 56px;
      height: 56px; }
    .s-paragraph-features1__item:nth-child(2)::before {
      background-image: url(img/sprite.png);
      background-position: -249px 0px;
      width: 56px;
      height: 54px; }
    .s-paragraph-features1__item:nth-child(2)::after {
      background-image: url(img/sprite.png);
      background-position: -58px -166px;
      width: 56px;
      height: 56px; }
    .s-paragraph-features1__item:nth-child(3)::before {
      background-image: url(img/sprite.png);
      background-position: -249px -56px;
      width: 54px;
      height: 52px; }
    .s-paragraph-features1__item:nth-child(3)::after {
      background-image: url(img/sprite.png);
      background-position: 0px -166px;
      width: 56px;
      height: 56px; }
    .s-paragraph-features1__item:nth-child(4)::before {
      background-image: url(img/sprite.png);
      background-position: -249px -110px;
      width: 40px;
      height: 54px; }
    .s-paragraph-features1__item:nth-child(4)::after {
      background-image: url(img/sprite.png);
      background-position: -174px -166px;
      width: 56px;
      height: 56px; }
    .s-paragraph-features1__item:nth-child(5)::before {
      background-image: url(img/sprite.png);
      background-position: -249px -110px;
      width: 40px;
      height: 54px; }
    .s-paragraph-features1__item:nth-child(5)::after {
      background-image: url(img/sprite.png);
      background-position: -116px -166px;
      width: 56px;
      height: 56px; }

.s-paragraph-menu {
  font-size: 16px;
  color: #00656B;
  line-height: 1.2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .s-paragraph-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 40px; }
    .s-paragraph-menu__item a {
      font-size: inherit;
      color: inherit;
      line-height: inherit; }
      .s-paragraph-menu__item a::before {
        content: '';
        display: block;
        background-image: url(img/sprite.png);
        background-position: 0px -224px;
        width: 58px;
        height: 50px;
        margin-bottom: 10px; }
    .s-paragraph-menu__item:nth-child(2) a::before {
      background-image: url(img/sprite.png);
      background-position: -249px 0px;
      width: 56px;
      height: 54px; }
    .s-paragraph-menu__item:nth-child(3) a::before {
      background-image: url(img/sprite.png);
      background-position: -249px -56px;
      width: 54px;
      height: 52px; }
    .s-paragraph-menu__item:nth-child(4) a::before {
      background-image: url(img/sprite.png);
      background-position: -249px -110px;
      width: 40px;
      height: 54px; }

.s-feature2 {
  padding: 30px 20px;
  text-align: center;
  border: 7px solid #1dc6b1;
  line-height: 1.2;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .s-feature2__title {
    color: #1dc6b1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px; }
  .s-feature2__text {
    font-size: 16px;
    color: #3F3F3F; }

.footer-top {
  background: #00656B;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 1.2;
  padding: 25px; }
  .footer-top a {
    color: inherit;
    font-weight: bold; }

.s-tabs {
  padding: 40px 0;
  font-size: 0; }
  .s-tabs__headers {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .s-tabs__header {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #969696;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    border-top: 9px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .s-tabs__header::before {
      content: '';
      display: block;
      background-image: url(img/sprite.png);
      background-position: -60px -224px;
      width: 59px;
      height: 37px;
      margin-bottom: 20px; }
    .s-tabs__header.current {
      background: white;
      color: black;
      position: relative;
      border-top: 9px solid #EC5B32; }
  .s-tabs__content {
    display: none;
    padding: 15px;
    font-size: 18px;
    color: #313131;
    line-height: 1.2; }
    .s-tabs__content.current {
      display: inherit; }

.s-paragraph-top {
  background-image: linear-gradient(to top, white 160px, #00656B 0%); }
  .s-paragraph-top .field--name-field-paragraph-text {
    font-size: 24px;
    color: white;
    font-weight: bold;
    line-height: 1.2; }

/*# sourceMappingURL=styles.css.map */
