.s-paragraph--top2 {
  background: $color-2;
}
.s-paragraph-top2 {
  font-size: 14px;
  color: $color-3;
  line-height: 1.2;
  text-align: center;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    &::before {
      content: '';
      display: block;
      @include sprite($user);
      margin-bottom: 10px;
    }

    &:nth-child(2){
      &::before {
        @include sprite($phone);
      }
    }
    &:nth-child(3){
      &::before {
        @include sprite($chart);
      }
    }
    &:nth-child(4){
      &::before {
        @include sprite($trophy);
      }
    }
    &:nth-child(5){
      &::before {
        @include sprite($question);
      }
    }
  }
}



